/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-heading {
  font-size: 60px;
  font-weight: bold;
  margin-inline: auto;
  padding: 12px 0;
  color: #e8ebee;
}

.main-heading:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.main-heading:hover {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-inline: auto;
}

#list-container,
#film-container {
  min-height: 320px;
  display: grid;
  align-items: center;
  padding: 60px 0;
}

#film-container {
  /*margin-inline: auto;*/
  /*width: min(90%, 1200px);*/
  gap: 36px;
  height: 100%;
}

.film__crawl {
  display: grid;
  gap: 8px;
  width: min(100%, 960px);
}

.film__crawl--title {
  font-size: 24px;
  font-weight: 600;
}

.movie {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-inline: auto;
  width: min(90%, 800px);
  padding: 16px;
  column-gap: 20px;
  row-gap: 12px;
}

.movie__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.movie:not(:last-child) {
  border-bottom: #e8ebee 1px solid;
}

.movie__title {
  font-weight: 600;
  font-size: 2rem;
  grid-column-start: 1;
  grid-column-end: -1;
  cursor: pointer;
}

.film__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  z-index: 10;
}

.film__title--text {
  font-weight: 600;
  font-size: 64px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.film__title--release {
  color: aliceblue;
}

.film__people {
  display: grid;
  gap: 16px;
}

.film__people>* {
  padding: 0 8px 8px 8px;
}

.film__people>*:not(:last-child) {
  border-bottom: #e8ebee 1px solid;
}

.film__people--header {
  font-weight: 600;
}

.cast--span>* {
  padding-inline: 2px;
}

.cast--span>*:not(:last-child)::after {
  content: " • "
}

.poster-container {
  overflow: hidden;
  border-radius: 16px;
  grid-row-start: 1;
  grid-row-end: -1;
}

.poster {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.poster-container__list {
  width: 75px;
}

.poster-container__main {
  width: 200px;
  z-index: 10;
}

.main-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  position: relative;
  gap: 16px;
  align-items: center;
  padding: 60px 0;
}

.main-content, .film__crawl, .film__people {
  width: min(90%, 1200px);
  margin-inline: auto;
}

.main-content__bg {
  position: absolute;
  width: 100vw;
  height: 100%;
}

.bg__poster {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(20%);
}

.video__container {
  position: fixed;
  background: #000;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  top: 0;
  left: 0;
}

.video__container-active {
  display: grid;
  grid-template-rows: max-content 1fr;
  justify-items: center;
  align-items: center;
}

.video__container-hidden {
  display: none;
}

#video__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.close-btn {
  border: none;
  background: transparent;
  border-radius: 50%;
  display: flex;
  padding: 2px;
}

.close-btn:hover {
  background: #242424;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .main-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #video__button {
    width: 100%;
    height: 2rem;
  }
}